@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: #FAF6FF;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
/* Header */
header{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 107px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}
.haeder_buttons{
    display: none;
}
.haeder_buttons button{
    border: none;
    cursor: pointer;
    height: auto;
    width: auto;
    outline: none;
    background-color: transparent;
}
.open_header{
    transition: .3s ease;
}
.close_header{
    transition: .3s ease;
    display: none;
}
.header_media{
    display: none;
}
.header_media_active{
    transform: translate(0px , 0px) !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.haeder_main{
    width: calc(1920px - 200px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.header_img{
    width: 139px;
    height: 35px;
}
.haeder_main nav{
    display: flex;
    align-items: center;
    column-gap: 43px;
}
.nav_link{
    display: flex;
    align-items: center;
    column-gap: 49px;
}
.nav_link > a:hover{
    color: #7C14FD;
}
.nav_link > a{
    transition: .3s;
     
    font-style: normal;
    /* font-weight: 600; */
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.nav_link .dropbtn > svg path{
    transition: .3s;
}
.nav_link .dropbtn:hover > svg path {
    stroke: #7C14FD;
}
.nav_link .dropbtn > a:hover{
    color: #7C14FD;
}
.nav_link .dropbtn > a{
    transition: .3s;
     
    font-style: normal;
    /* font-weight: 600; */
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.nav_link .dropdown-content{
    min-width: unset !important;
    width: 100% !important;
}
.nav_link .dropdown-content a{
     
    font-style: normal;
    /* font-weight: 600; */
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.header_nav_a:hover{
    color: #7C14FD !important;
    background-color: #fff;
}
.header_nav_a{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    width: 134px;
    height: 45px;
    border: 1px solid #7C14FD;
    background-color: #7C14FD;
    border-radius: 1000px;
     
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #fff !important;
}
/*  End Header */
/* Drop Down */
.dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
/* End DropDown */

/* Main */
.firstBlock_main{
    width: 1920px;
    margin: 0 auto; 
}
.firstblock{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 255px;
}
.firstblock_text{
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}
.firstblock_text > span{
      
    font-style: normal;
    font-weight: bold;
    font-size: 76px;
    line-height: 115.7%;
    letter-spacing: -0.015em;
    color: #000000;    
    width: 598px;
}
.firstblock_text > span > a{
    color: #7C14FD;
}
.firstblock_text_1{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.firstblock_text_1 > p{
       
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 119.7%;
    color: #000000;
    opacity: 0.8;
}
.fb_part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fb_part a{
    opacity: .8;
}
.sdadasdas{
    width: 104% !important;
}
.firstblock_text > a:hover{
    background-color: #fff;
    color: #7C14FD;
}
.firstblock_img{
    display: none;
}
.firstblock_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.firstblock_text > a{
    transition: .3s ease;
    width: 229px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
     
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    background: #7C14FD;
    box-shadow: 0px 26px 46px rgba(124, 20, 253, 0.35);
    border: 1px solid #7C14FD;
    border-radius: 20px;
}
.firstblock_anim{
    width: 931.22px;
    height: 737.51px;
}
.fb_container{
    position: relative;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.fb_container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fb_container{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
main{
    overflow: hidden;
    position: relative;
    background: url('../img/Background.png');
    background-position: center;
    background-repeat: repeat-y;
}
.posa_svg{
    position: absolute;
    left: 44px;
    top: -30px;
    opacity: .5;
}
.posa_svg_2{
    position: absolute;
    top: 282px;
    left: 112px;
    opacity: .5;
}
.posa_svg_3{
    position: absolute;
    top: 39px;
    right: 414px;
    opacity: .5;
}
.posa_svg_4{
    position: absolute;
    opacity: .5;
    top: 667px;
    left: 691px;
}
.sc_top_background{
    width: 100%;
    height: 527px;
}
.sc_top_background img{
    height: 100%;
    width: 100%;
}
.secondBlock_main{
    width: 1920px;
    margin: 0 auto;
} 
.second_block_main{
    padding-left: 170px;
    padding-right: 208px;
    padding-top: 144px;
    display: flex;
    flex-direction: column;
    row-gap: 93px;
}
.second_block_main_title{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.second_block_main_title > div{
    width: 89px;
    height: 3px;
    background: linear-gradient(89.99deg, #7C14FD 1.09%, rgba(124, 20, 253, 0.29) 99.99%);
    border-radius: 1000px;
}
.second_block_main_title > span{
    display: flex;
    justify-content: center;
      
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 137.2%;
    text-align: center;
    color: #000000;
    
}
.sc_block_1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    /* column-gap: 64px; */
    width: 970px;
    height: 322px;
    background: #fff;
    box-shadow: 0px 69px 114px rgba(124, 20, 253, 0.08);
    border-radius: 10px;
}
.sc_posa_text{
    position: absolute;
    left: -49px;
    top: -28px;
      
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 45.2%;
    color: #7C14FD;
    opacity: 0.05;
}
.sc_block_1_block{
    display: flex;
    align-items: center;
    column-gap: 65px;
}
.scb1b_text_1{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.scb1b_text_1 span{
      
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 137.2%;
    color: #7C14FD;
    
}
.scb1b_text_1 > div{
    width: 89px;
    height: 3px;
    background: linear-gradient(89.99deg, #7C14FD 1.09%, rgba(124, 20, 253, 0.29) 99.99%);
    border-radius: 1000px;
}
.scb1b_text{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.scb1b_text > p{
       
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 170.7%;
    color: #000000;
    width: 509px;
    height: 89px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.scb1b_svg{
    width: 283px;
    height: 232px;
}
.scb1b_svg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sc_block_2{
    margin-left: 440px;
    top: -10px;
    opacity: 0.85;
    z-index: 3 !important;
}
.sc_block_2 .sc_posa_text{
    right: -20px;
    left: unset !important;
}
.scb1b_text_2_p{
    width: 505px !important;
    height: 121px !important;
}
.scb2b_svg{
    width: 292px !important;
    height: 262px !important;
}
.sc_block_3{
    top: -20px;
    opacity: 0.85;
    z-index: 2 !important;
}
.scb1b_text_3_p{
    width: 481px !important;
    height: 123px !important;
}
.sc_block_4{
    margin-left: 440px;
    top: -30px;
    opacity: 0.85;
    z-index: 1 !important;
}
.sc_block_4 .sc_posa_text{
    right: -45px;
    top: -47px !important;
    left: unset !important;
}
.scb1b_text_4_p{
    width: 486px !important;
    height: 121px !important;
}
.scb4b_svg{
    width: 311px !important;
    height: 245px !important;
}
.scb3b_svg{
    width: 311px !important;
    height: 248px !important;
}
.third_block_main{
    column-gap: 51px;
    margin-top: 170px;
    height: 662px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.third_block_main_input{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.third_block_main_bg{
    position: absolute;
    width: 100%;
    height: 100%;
}
.third_block_main_bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.third_block_main_text{
    position: relative;
      
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 128.3%;
    width: 745.83px;
    color: #FFFFFF;
}
.third_block_main_input input:first-child{
    height: 77px;
    width: 609.05px;    
    background: #FFFFFF;
    border-radius: 1000px;
    border: none;
    outline: none;
    padding-left: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    color: #808080;
}
.third_block_main_input input:last-child:hover{
    background: #FFFFFF;
    color: #32046B;
}
.third_block_main_input input:last-child{
    transition: .3s ease;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 609.05px;
    height: 77px;
    border: none;
    outline: none;
    border: 1px solid #32046B;
     
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #32046B;
    box-shadow: 0px 41px 51px rgba(118, 82, 164, 0.39);
    border-radius: 1000px;
}
.first_slider_main{
    padding-top: 200px;
    padding-bottom: 160px;
}
.first_slider_main_global{
    position: relative;
    width: calc(1920px - 510px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}
.first_slider_main_text{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.first_slider_main_text span{
      
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 137.2%;
    color: #000000;
}
.first_slider_main_text > div{
    width: 89px;
    height: 3px;
    background: linear-gradient(89.99deg, #7C14FD 1.09%, rgba(124, 20, 253, 0.29) 99.99%);
    border-radius: 1000px;
}
.first_slider_global{
    margin-bottom: 0 !important;
    width: 100%;
    height: 694px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.fslider_img{
    position: relative;
    width: 253px;
    height: 292px;
    background: #FC5A5A;
    border-radius: 8px;
}
.fslider_img_svg{
    position: absolute;
    left: 27px;
    top: 248px;
}
.first_slider{
    display: flex !important;
    align-items: center;
    justify-content: center;
    column-gap: 56px;
    height: 378px !important;
}
.fslider_text{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}
.fslider_text a{
    width: 490px;
     
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #7C14FD;
}
.fslider_text p{
    width: 718px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: unset !important;
    letter-spacing: 0.2px;
    color: #32046B;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: unset !important;
    
}
.first_slider_lbtn_hover,
.first_slider_rbtn_hover{
    visibility: visible;
    opacity: 0;
}
.first_slider_lbtn:hover .first_slider_lbtn_hover,
.first_slider_rbtn:hover .first_slider_rbtn_hover{
    visibility: visible !important;
    opacity: 1 !important;
}
.first_slider_lbtn:hover .first_slider_lbtn_img{
    visibility: visible;
    opacity: 0;
}
.first_slider_rbtn:hover .first_slider_rbtn_img{
    visibility: visible;
    opacity: 0;
}
.first_slider_lbtn_img,
.first_slider_lbtn_hover,
.first_slider_rbtn_img,
.first_slider_rbtn_hover{
    position: absolute;
    transition: .3s ease;
    top: 0;
}
.first_slider_buttons{
    position: absolute;
    right: 212px;
    top: 590px;
    z-index: 1;
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.first_slider_lbtn,
.first_slider_rbtn{
    width: 15px;
    height: 15px;
    transition: .3s ease;
    cursor: pointer;
    z-index: 1;
    border: none;
    outline: none;
    background-color: transparent;
}
/* Second Slider */

.second_slider_main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 742px;
    width: 100%;
}
.ssm_bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ssm_bg{
    position: absolute;
    width: 100%;
    height: 100%;
}
.ssm_text{
      
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 128.3%;
    width: 505px;    
    color: #FFFFFF;
}
.second_slider{
    display: flex;
    align-items: center;
    column-gap: 40px;
    width: 1090px;
}
.ssm_content{
    position: relative;
    width: calc(1920px - 255px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second_slider .slick-track{
    display: flex;
    column-gap: 40px;
    align-items: center;
}
.ss1{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 57px;
    width: 544px !important;
    height: 452.21px;
    padding-left: 52px;
    padding-right: 39px;
    background: #9642FF;
    box-shadow: 0px 69px 114px rgba(124, 20, 253, 0.08);
    border-radius: 50px;
}
.ss1 span{
     
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 58px;
    letter-spacing: -1px;
    color: #FFFFFF;
}
.ss1 p{
       
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.ss1 a:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.ss1 a{
    transition: .5s ease all 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 36px;
    background: #FFFFFF;
    box-shadow: 0px 26px 46px #8A30FB;
    border-radius: 20px;
    width: 205px;
    height: 69px;
     
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
}
/* End Second Slider */

.second_animation_block{
    margin: 0 auto;
    width: calc(1920px - 255px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 37px;
    padding-top: 140px;
}
.second_animation_block_img{
    display: none;
}
.second_animation_block_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sab_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
}
.sab_text span{
      
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 137.2%;
    text-align: center;
    color: #000000;
}
.sab_text p{
    width: 694px;
       
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #32046B;
}
.sab_text a:hover svg path{
    stroke: #7C14FD;
}
.sab_text a svg path{
    transition: .5s ease;
}
.sab_text a:hover{
    color: #7C14FD;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.sab_text a{
    transition: .5s ease;
    margin-top: 62px;
    border: 1px solid #7C14FD;
    background: #7C14FD;
    width: 317px;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 36px;
    box-shadow: 0px 26px 46px rgba(124, 20, 253, 0.35);
    border-radius: 25px;
     
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.sab_img_anim{
    width: 931px;
    height: 737px;
}
.sab_img{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sab_img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.asdasds{
    height: 80%;
    width: 125%;
}
/* End Main */










































/* Footer */

footer{
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.footer_global{
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #B57AFF;
    height: max-content !important;
    padding: 104.5px 0px;
}
.footer_oval_1{
    position: absolute;
    left: -563px;
    bottom: -107px;
    height: 676px;
    width: 786px;
    border-radius: 50%;
    background-color: #B070FF;
}
.footer_oval_2_main{
    position: absolute;
    background: #F5E5E5;
    height: 912px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1028px;
    border-radius: 50%;
    opacity: .1;
    right: -705px;
    bottom: -346.5px;
}
.footer_oval_2{
    right: 230px;
    position: absolute;
    height: 683px;
    width: 683px;
    border-radius: 50%;
    background-color: #B070FF;
}
.footer_div_1{
    position: relative;
}
.footer_main{
    position: relative;
    width: calc(1920px - 518px);
    margin: 0 auto; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_div_2 .footer_div_1{
    display: none;
}
.footer_div_1{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.footer_div_1 address{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.footer_div_1 address a:hover{
    transform: translate(10px,0px);
    color: #000000;
}
.footer_div_1 address span,
.footer_div_1 address a{
    transform: translate(0px,0px);
    transition: .3s ease;
       
    font-style: normal;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    opacity: 0.8;
}
.footer_soc a:hover{
    transform: translate(0px,-8px);
}
.footer_soc a{
    transition: .6s ease !important;
    transform: translate(0px,0px);
}
.footer_soc a:hover svg path{
    fill: #000000;
}
.footer_soc svg path{
    transition: .6s ease;
}
.footer_soc{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    column-gap: 30px;
}
.footer_div_2{
    display: flex;
    align-items: flex-start;
    column-gap: 146px;
}
.footer_div_2_1,
.footer_div_2_2{
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}
.footer_div_2 a:hover{
    transform: translate(10px,0px);
    color: #000000;
}
.footer_div_2 a {
    transition: .3s ease;
}
.footer_div_2_span{
     
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.footer_div_2_1_links,
.footer_div_2_2_links{
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}
.footer_div_2_1_links a,
.footer_div_2_2_links a{
    transform: translate(0px ,0px);
       
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    opacity: 0.8;
}
.footer_div_2_3{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.footer_div_2_3 > div{
    width: 390px;
    height: 224px;
    background: #9A48FF;
    box-shadow: 0px 69px 114px rgba(124, 20, 253, 0.08);
    border-radius: 20px;
}

/* Wave */
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background:  url('../img/wave.png');
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: .5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: .2;
    bottom: 15px;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: .7;
    bottom: 20px;
    animation: animateWave_02 4s linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
/* End Wave */
/* End Footer */

@media (max-width: 1920px){
    .firstBlock_main,
    .secondBlock_main{
        margin: 0;
        width: unset;
    }
    .second_animation_block{
        margin: 0 0 0 auto;
    } 
    .ssm_content{
        margin: unset;
    }
    .sc_top_background img {
        object-fit: cover;
    }
}
@media (max-width: 1800px){
    .firstblock{
        padding-left: 55px;
    }
    .haeder_main{
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }
}
@media (max-width: 1670px){
    .ssm_text {
        text-align: center;
        width: 95%;
    }
    .sab_img_anim {
        width: 721px;
        height: 547px;
    }
    .second_animation_block{
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }
}
@media (max-width: 1600px){
    .firstblock{
        padding: 90px 0 0 0;
        flex-direction: column;
        row-gap: 10px;
    }
    .fb_container img:nth-child(5){
        display: none;
    }
    .firstblock_text > span{
        text-align: center;
    }
    .firstblock_text{
        align-items: center;
    }
    .sc_block_2,
    .sc_block_4{
        margin-left: 150px;
    }

}
@media (max-width: 1440px){
    .footer_main {
        column-gap: 30px;
        width: 90%;
        margin: 0 auto;
    }
    .footer_div_2 {
        column-gap: 76px;
        flex-wrap: wrap;
        row-gap: 10px;
    }
}
@media (max-width: 1430px){
    .third_block_main_text {
        font-size: 55px;
        width: 591.83px;
    }
    .sab_text p {
        width: 100%;
        font-size: 22px;
    }
    .sab_text a {
        margin-top: 15px;
    }
    .sab_text {
        width: 460px;
    }
    
}
@media (max-width: 1400px){
    .second_slider {
        width: 100%;
    }
    .ssm_content {
        width: 100%;
        row-gap: 40px;
        column-gap: 0px;
        flex-direction: column;
    }
    .ss1 span {
        font-size: 33px;
        text-align: center;
    }
    .ss1 p {
        font-size: 16px;
    }
    .second_slider .slick-center{
        height: 510px;
    }
    /* .ss1 {
        width: 50% !important;
    } */
}
@media (max-width: 1340px){
    .second_block_main{
        padding-left: 80px;
    }
}
@media (max-width: 1320px){
    .footer_main > .footer_div_1{
        display: none;
    }
    .footer_div_2 .footer_div_1{
        display: flex;
    }
    .footer_global {
        height: max-content;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer_div_2{
        justify-content: space-between !important;
        width: 100%;
        row-gap: 50px;
        column-gap: 0px;
    }
    
}
@media (max-width: 1280px){
    .third_block_main_text {
        font-size: 45px;
        width: 491.83px;
    }
}
@media (max-width: 1230px){
    .footer_div_2 {
        column-gap: 40px;
    }
}
@media (max-width: 1220px){
    .first_slider_main_global{
        width: unset;
    }
    .first_slider_buttons {
        right: 10%;
        top: 75%;
    }
    .fslider_text {
        width: 40%;
    }
    .fslider_text p{
        width: 100%;
    }
}
@media (max-width: 1210px){
    .second_block_main{
        padding-left: 50px;
    }
    .sc_blocks_global{   
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }
    .sc_blocks_global > div{
        top: 0;
    }
    .sc_block_2, .sc_block_4 {
        margin-left: 70px;
    }
}
@media (max-width: 1170px){
    .third_block_main_input input{
        width: 100% !important;
    }
    .third_block_main_input {
        width: 420px;
    }
    .second_animation_block {
        justify-content: space-between;
        padding-top: 70px;
        flex-direction: column;
        row-gap: 90px;
    }
}
@media (max-width: 1155px){
    .footer_div_2 {
        column-gap: 20px;
    }
}
@media (max-width: 1135px){
    .sc_blocks_global{   
        row-gap: 70px;
    }
    .sc_block_2, .sc_block_4 {
        margin-left: 0;
    }
}

@media (max-width: 1040px){
    .sc_block_2 .sc_posa_text {
        right: 0px;
    }
    .sc_block_4 .sc_posa_text{
        right: 0;
    }
    .sc_posa_text{
        left: 0;
    }
    .second_block_main {
        padding-left: 20px;
        padding-right: 20px;
    }
    .sc_block_1{
        width: 100%;
    }
}
@media (max-width: 1023px){
    .firstblock_img{
        display: block;
    }
    .firstblock_anim{
        display: none;
    }
    .second_animation_block_img{
        display: block;
    }
    .sab_img_anim{
        display: none;
    }
}
@media (max-width: 1000px){
    .firstblock_anim {
        width: 591.22px;
        height: 470px;
    }
    .sc_top_background {
        height: 220px;
    }
}
@media (max-width: 980px){
    .third_block_main {
        height: 470px;
        column-gap: 0px;
        justify-content: space-around;
    }
}
@media (max-width: 950px){
    .nav_link {
        column-gap: 30px;
    }
}
@media (max-width: 930px){
    .third_block_main_text {
        font-size: 35px;
        text-align: center;
        width: 376.83px;
    }
}
@media (max-width: 925px){
    .fslider_text a{
        width: 100%;
    }
}
@media (max-width: 900px){
    .sc_block_1_block{
        column-gap: 0px;
        justify-content: space-between;
    }
    .scb1b_text{
        width: 50%;
    }
    .scb1b_text > p{
        width: unset !important;
    }
}
@media (max-width: 840px){
    .haeder_main nav{
        display: none;
    }
    .haeder_buttons{
        display: flex;
    }
    .haeder_main{
        padding: 0 20px;
        justify-content: space-between;
    }
    .header_media{
        transform: translate(0px , -107px);
        visibility: hidden;
        opacity: 0;
        transition: .8s ease all 0s;
        display: flex;
        position: absolute;
        align-items: center;
        width: 100%;
        height: 107px;
        top: 107px;
        z-index: 1;
        background-color: #fff;
    }
    .header_media .nav_link{
        padding-top: 10px;
        padding-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
        column-gap: 30px;
        width: 100%;
    }
}
@media (max-width: 810px){
    .third_block_main_input {
        width: 370px;
    }
}
@media (max-width: 755px){
    .third_block_main{
        flex-direction: column;
        justify-content: space-evenly;
    }
}
@media (max-width: 682px){
    .fslider_text p {
        height: 181px;
        line-height: unset;
        font-size: 24px;
    }
    .fslider_text a {
        line-height: unset;
        font-size: 16px;
    }
}
@media (max-width: 670px){
    .footer_div_2_1_main{
        column-gap: 40px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .footer_div_2 {
        justify-content: center !important;
    }
    .footer_div_2 .footer_div_1,
    .footer_div_1 address{
        align-items: center;
    }
    .footer_global {
        padding-bottom: 20px;
        height: max-content;
    }
}
@media (max-width: 655px){
    .sc_block_1_block {
        flex-direction: column-reverse;
        row-gap: 10px;
    }
    .sc_posa_text {
        left: unset;
        right: 0;
    }
    .sc_block_1 {
        height: 500px;
    }
    .scb1b_text{
        width: 90%;
    }
    .sc_posa_text{
        font-size: 120px;
    }
    .firstblock{
        padding-top: 40px;
        padding-bottom: 0;
    }
}
@media (max-width: 630px){
    .fslider_text p {
        height: 175px;
    }
    .first_slider_buttons {
        top: 80%;
    }
    .first_slider {
        justify-content: space-around;
        column-gap: 0px;
    }
    
}
@media (max-width: 620px){
    .firstblock_text_1 > p{
        width: 90%;
        text-align: center;
    }
    .firstblock_text > span{
        width: 90%;
        text-align: center;
    }
    
}
@media (max-width: 600px){
    .firstblock_text > span{
        font-size: 45px;
        text-align: center;
    }
    .firstblock_anim {
        width: 420px;
        height: 330px;
    }
}
@media (max-width: 560px){
    .firstblock_text_1 > p{
        text-align: center;
        font-size: 21px;
    }
    .fb_part {
        column-gap: 21px;
        justify-content: center;
        width: 100%;
        row-gap: 0px;
        flex-wrap: wrap;
    }
}
@media (max-width: 545px){
    .second_slider .slick-track{
        column-gap: 0px;
    }
    .ss1{
        width: 100% !important;
    }
}
@media (max-width: 500px){
    .fslider_text p {
        font-size: 21px;
    }
    .first_slider_main_text span{
        width: 90%;
        text-align: center;
    }
    .fslider_text a {
        font-size: 15px;
    }
    .ssm_text {
        font-size: 44px;
    }
}
@media (max-width: 487px){
    .firstblock_anim {
        width: 330px;
        height: 250px;
    }
}
@media (max-width: 479px){
    .footer_div_2_1_main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 27px;
    }
    .footer_div_2_2,
    .footer_div_2_1{
        width: 100%;
        align-items: center;
    }
    .footer_div_2_1_links a, .footer_div_2_2_links a {
        text-align: center;
    }
    .footer_div_2_span{
        text-align: center;
    }
    .footer_div_2_3 > div {
        width: 100%;
    }
    .footer_div_2_3 {
        width: 100%;
    }
}
@media (max-width: 455px){
    .first_slider{
        height: 470px !important;
        flex-direction: column;
        justify-content: space-between;
    }
    .first_slider_buttons {
        top: 90%;
    }
    .fslider_text p {
        height: 95px;
    }
    .fslider_text {
        width: 90%;
    }
    .fslider_text {
        row-gap: 20px;
    }
    .first_slider_main {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .first_slider_buttons {
        top: 97%;
        right: 0;
        justify-content: center;
        width: 100%;
    }
    .first_slider_global {
        height: 540px;
    }
    .sab_text {
        width: 90%;
    }
}

@media (max-width: 464px){
    .firstblock_text_1 > p {
        font-size: 19px;
    }
    .firstblock_text > span {
        font-size: 37px;
        width: 100%;
    }
}
@media (max-width: 402px){
    .first_slider_main_text span {
        font-size: 32px;
    }
    .ss1 span {
        line-height: unset !important;
        font-size: 28px;
    }
}

@media (max-width: 380px){
    .third_block_main_input {
        width: 90%;
    }
    .third_block_main_text {
        font-size: 31px;
        width: 90%;
        text-align: center;
    }
}
@media (max-width: 365px){
    .scb1b_svg,
    .scb2b_svg,
    .scb4b_svg {
        width: 100% !important;
    }
    .sc_block_3 > .sc_block_1_block > div{
        width: 90% !important;
    }
}
@media (max-width: 350px){
    .second_block_main_title > span{
        font-size: 40px;
    }
}
@media (max-width: 330px){
    .sab_text a {
        width: 100%;
    }
    .scb1b_text_1{
        width: 90%;
        margin: 0 auto;
    }
    .sc_posa_text {
        font-size: 80px;
    }
    .scb1b_text > p{
        width: 90% !important;
        margin: 0 auto;
    }
}
